footer
    .container
      .row
        .span4
          .widget
            .footer_logo
              h3
                a(href='/')
                  i.icon-tint
                  |  Remember
            address
              strong Remember company Inc.
              br
              |   &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Somestreet KW 101, Park Village W.01
              br
              |   &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Jakarta 13426 Indonesia
            p
              i.icon-phone
              |  (123) 456-7890 - (123) 555-7891 
              br
              i.icon-envelope-alt
              |  support@remember.io
        .span4
          .widget
            h5.widgetheading Browse pages
            ul.link-list
              li
                a(href='#') Our company
              li
                a(href='#') Terms and conditions
              li
                a(href='#') Privacy policy
              li
                a(href='#') Press release
              li
                a(href='#') What we have done
              li
                a(href='#') Our support forum
        .span4
          .widget
            h5.widgetheading From flickr
            .flickr_badge
              script(type='text/javascript' src='http://www.flickr.com/badge_code_v2.gne?count=8&display=random&size=s&layout=x&source=user&user=34178660@N03')
            .clear
    #sub-footer
      .container
        .row
          .span6
            .copyright
            - const date = new Date();
              p
                span &copy; Copyright #{date.getFullYear()} Remember Inc. All right reserved
          .span6
            .credits
              | Created by 
              a(href='https://bootstrapmade.com/') BootstrapMade