extends base

include _team
include _headLine

block content

    +headLine('About us', 'About', 'About us')

    section#content
        .container
            .row
                .span6
                    h4 About Remember Inc
                    p
                    | Ei mel semper vocent persequeris, nominavi patrioque vituperata id vim, cu eam gloriatur philosophia deterruisset. Meliore perfecto repudiare ea nam, ne mea duis temporibus. Id quo accusam consequuntur, eum ea debitis urbanitas. Nibh reformidans vim ne.
                    p
                    | Iudico definiebas eos ea, dicat inermis hendrerit vel ei, legimus copiosae quo at. Per utinam corrumpit prodesset te, liber praesent eos an. An prodesset neglegentur qui, usu ancillae posidonium in, mea ex eros animal scribentur. Et simul fabellas sit.
                    | Populo inimicus ne est.
                .span6
                    iframe(src='http://player.vimeo.com/video/24535181?title=0&byline=0' width='500' height='281' seamless='')
       
                //- divide
                .row
                    .span12
                        .solidline
                //- end divider
            
                .row.team
                    .span12
                        h4 Nice persons behind Remember
                    
                    +team('Vincent Austin Jr', 'CEO - Founder', 'team1')
                    +team('Tommy Laugher', 'Lead designer', 'team2')
                    +team('Gabirelle Borowski', 'Customer support', 'team3')
                    +team('Benny Strongton', 'Coffee maker', 'team4')

