extends base

include _headLine

block content

    +headLine('404', 'Error', '404 Error page')

    section#content
        .container
            .row
                .span12
                    h2.errortitle.aligncenter 404
                    h3.aligncenter
                        i.icon-remove
                        |  Sorry requested page not found
                    p.aligncenter
                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non
