  section#intro
    .intro-content
      h2 Welcome to Remember!
      h3 Lorem ipsum dolor sit amet, elit persecuti efficiendi
      div
        a.btn-get-started.scrollto(href='#content') Get Started
  //- /section intro
  section#content
    .container
      .row
        .span12
          .row
            .span3
              .box.aligncenter
                .icon
                  span.badge.badge-info.badge-circled 1
                  i.ico.icon-dropbox.icon-5x
                .text
                  h4
                    strong Out of the box
                  p
                    | Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am anumat lib persum sea facilisis.
                  a(href='#') Learn More
            .span3
              .box.aligncenter
                .icon
                  span.badge.badge-success.badge-circled 2
                  i.ico.icon-bitbucket.icon-5x
                .text
                  h4
                    strong New taste
                  p
                    | Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  a(href='#') Learn More
            .span3
              .box.aligncenter
                .icon
                  span.badge.badge-warning.badge-circled 3
                  i.ico.icon-rocket.icon-5x
                .text
                  h4
                    strong Faster load
                  p
                    | Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  a(href='#') Learn More
            .span3
              .box.aligncenter
                .icon
                  span.badge.badge-important.badge-circled 4
                  i.ico.icon-cut.icon-5x
                .text
                  h4
                    strong Cut your times
                  p
                    | Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                  a(href='#') Learn More
      .row
        .span12
          .cta-box
            .row
              .span8
                .cta-text
                  h2
                    | Special price in very 
                    span limited
                    |  times
              .span4
                .cta-btn
                  a.btn.btn-color(href='#')
                    | Call Action 
                    i.icon-caret-right
  section#offer
    .container
      .row
        .span12
          .row
            .span12
              .aligncenter
                h3 Our features and pricing
                blockquote
                  | Lorem ipsum dolor sit amet, labores dolorum scriptorem eum an, te quodsi sanctus neglegentur eam, et lorem persecuti conclusionemque mei.
          .row
            .span3
              h5 Choose package and start grow
              p
                | Per an putent audiam adolescens, mel ceteros fierent democritum te. No ubique malorum euismod usu.
              p
                | Movet facilis democritum ea quo. Est ei illum consulatu accommodare, nam dicta expetenda suavitate ad.
            .span3
              .pricing-box-plain
                .heading
                  h4 Standard
                  span $9 / Month
                .desc
                  ul
                    li For 1 Application
                    li Free one year support
                    li Unlimited disk spaces
                .action
                  a.btn.btn-inverse(href='#') Sign Up
            .span3
              .pricing-box-plain
                .heading
                  h4 Medium
                  span $29 / Month
                .desc
                  ul
                    li For 10 Applications
                    li Free life time support
                    li Unlimited disk spaces
                .action
                  a.btn.btn-inverse(href='#') Sign Up
            .span3
              .pricing-box-plain
                .heading
                  h4 Elite
                  span $59 / Month
                .desc
                  ul
                    li For unlimited appliacations
                    li Free life time support
                    li Unlimited disk spaces
                .action
                  a.btn.btn-color(href='#') Sign Up
  section#works
    .container
      .row
        .span12
          h3 Recent works
          .row
            .grid.cs-style-3
              .span3
                .item
                  figure
                    div
                      img(src='img/dummies/works/1.jpg' alt='')
                    figcaption
                      h3 Portfolio name
                      p
                        a(href='img/dummies/works/big.png' data-pretty='prettyPhoto[gallery1]' title='Portfolio caption here')
                          i.icon-zoom-in.icon-circled.icon-bglight.icon-2x.active
                        a(href='#')
                          i.icon-file.icon-circled.icon-bglight.icon-2x.active
              .span3
                .item
                  figure
                    div
                      img(src='img/dummies/works/2.jpg' alt='')
                    figcaption
                      h3 Portfolio name
                      p
                        a(href='img/dummies/works/big.png' data-pretty='prettyPhoto[gallery1]' title='Portfolio caption here')
                          i.icon-zoom-in.icon-circled.icon-bglight.icon-2x.active
                        a(href='#')
                          i.icon-file.icon-circled.icon-bglight.icon-2x.active
              .span3
                .item
                  figure
                    div
                      img(src='img/dummies/works/3.jpg' alt='')
                    figcaption
                      h3 Portfolio name
                      p
                        a(href='img/dummies/works/big.png' data-pretty='prettyPhoto[gallery1]' title='Portfolio caption here')
                          i.icon-zoom-in.icon-circled.icon-bglight.icon-2x.active
                        a(href='#')
                          i.icon-file.icon-circled.icon-bglight.icon-2x.active
              .span3
                .item
                  figure
                    div
                      img(src='img/dummies/works/4.jpg' alt='')
                    figcaption
                      h3 Portfolio name
                      p
                        a(href='img/dummies/works/big.png' data-pretty='prettyPhoto[gallery1]' title='Portfolio caption here')
                          i.icon-zoom-in.icon-circled.icon-bglight.icon-2x.active
                        a(href='#')
                          i.icon-file.icon-circled.icon-bglight.icon-2x.active